@model IEnumerable<ProjetoFinalCurso.Data.Entities.Concert>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />


<br />

<p>


    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
    {
		<a asp-action="Create" class="btn-create">Create New Concert</a>
    }
</p>


<body>

	<section class="page-heading">
		<div class="container">
			<h2 style="	color:black">Upcomming Concerts</h2>
		</div>
	</section>
	<section class="latest-news">
		<div class="container" itemprop="event" itemscope itemtype=" http://schema.org/Event">
			<div class="owl-two owl-carousel">

				

				@foreach (var item in Model)
				{
					<div class="news-wrap" itemprop="event">
						<div class="news-img-wrap" itemprop="image">
							<img src="@Url.Content(item.ImageFullPath)" style="width:571px;height:349px" alt="Latest News Images">
						</div>
						<div class="news-detail" itemprop="description">
							<h4><a class="article-subtitle" asp-action="Details" asp-route-id="@item.Id"><h1>@Html.DisplayFor(modelItem => item.Title)</h1></a></h4>
							<h2 itemprop="startDate">@Html.DisplayFor(modelItem => item.Day)</h2>
							<h5 itemprop="location"><i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(modelItem => item.Establishmento.Name)</h5>
							<p>@Html.DisplayFor(modelItem => item.Description)</p>

							@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
							{
								<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
								@*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>*@
								<a asp-action="Bands" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>
							}
							@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
							{
								<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
								
							}

						</div>
					</div>

					
				}




			</div>
		</div>
	</section>





	<section class="page-heading">
		<div class="container">
			<h2>Concerts List</h2>
		</div>
	</section>
    <section class="course-listing-page">
        <div class="container">


            <div class="grid" id="cGrid">
                @foreach (var item in Model)
                {
                    <div class="grid-item">
                        <div class="img-wrap">
                            <img src="@Url.Content(item.ImageFullPath)" alt="courses picture" style="height: 246px; width: 370px;">
                        </div>
                        <div class="box-body">
                            <section style="height: 300px; ">



								<a class="article-subtitle" asp-action="Details" asp-route-id="@item.Id"><h1 style="color: #009450;">@Html.DisplayFor(modelItem => item.Title)</h1></a>
								<h2 itemprop="startDate">@Html.DisplayFor(modelItem => item.Day)</h2>
								<h5 itemprop="location" style=" margin-block-end: 1em;"><i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(modelItem => item.Establishmento.Name)</h5>


                                <p>@Html.DisplayFor(modelItem => item.Description)</p>



                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
								{
									<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
									<a asp-action="Bands" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>
								}
								@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
								{
									<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
								}
                            </section>
                        </div>
                    </div>
                }

            </div>

        </div>
    </section>


	<script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/lightbox.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/all.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/owl.carousel.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery.rateyo.js"></script>
	
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/custom.js"></script>
</body>




@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
