@model IEnumerable<ProjetoFinalCurso.Data.Entities.Establishment>

@{
    ViewData["Title"] = "Index";
}

@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />*@


<br />

<p>


    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn-create">Create New Establishment</a>
    }
</p>

<body>

	<section class="page-heading">
		<div class="container">
            <h2 style="	color:black">Establishments</h2>
		</div>
	</section>


	<section class="latest-news">
		<div class="container" itemprop="event" itemscope itemtype=" http://schema.org/Event">
			<div class="owl-two owl-carousel">

				@foreach (var item in Model)
				{
					
                    <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                        <div class="img-wrap" itemprop="image"><img src="@Url.Content(item.ImageFullPath)" style="width:394px;height:262px" alt="courses picture"></div>

                        <h4><a class="article-subtitle" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></h4>
                        
                        <div class="box-body" itemprop="description">
                            @*<p>Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum Lorem Ipsum lorem ipsum</p>*@
                            <section itemprop="time">
                               
                                <h5><span>City:</span> @Html.DisplayFor(modelItem => item.City)</h5>
                                <h5 itemprop="location"><i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(modelItem => item.Adress)</h5>

                                

                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
    {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
                                
                                
    }
                                @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>*@
                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
								<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
	}
                            </section>
                        </div>
                    </div>
				}

			</div>
		</div>
	</section>









    <section class="page-heading">
        <div class="container">
            <h2>List of Establishments</h2>
        </div>
    </section>
    <section class="course-listing-page">
			<div class="container">

                
                    <div class="grid" id="cGrid">

                        @foreach (var item in Model)
                        {


                            <div class="grid-item">
						        <div class="img-wrap">
                            <img src="@Url.Content(item.ImageFullPath)" alt="courses picture" style="height: 246px; width: 370px;">
						        </div>
                                <a class="learn-desining-banner-course" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
						    
						        <div class="box-body">
							    
                                    @*<br/>*@
							        <section>
                                        <h5><span>City:</span> @Html.DisplayFor(modelItem => item.City)</h5>
                                        <p itemprop ="location"> <i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(modelItem => item.Adress)</p>




                                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin") || this.User.IsInRole("Employee"))
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
                                        }   
                                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                                        {
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        }
							        </section>
						        </div>
					        </div>
                        }
					
				    </div>
                



				
			</div>
		</section>


	<script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/lightbox.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/all.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/owl.carousel.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery.rateyo.js"></script>
	
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/custom.js"></script>
</body>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
